<a class="fa fa-thumbs-up user <%= up_active?(@question) %>" href="/questions/<%= @question.id %>/votes/up"></a>

<span class="vote-count"><%= @question.points %></span>

<a class="fa fa-thumbs-down user <%= down_active?(@question) %>" href="/questions/<%= @question.id %>/votes/down"></a>
