<h2 class="question-title"><%= @question.title %></h2>

<div class="question-cell">

<!-- highlight users' vote on page load -->
  <div class="vote-cell">
    <% if current_user %>
      <%= erb :'questions/_buttons' %>
    <% else %>
      <% erb :'questions/_no_user' %>
    <% end %>
  </div>

<!-- question content -->
  <div class="post-content">
    <%= @question.content %>
  </div>
</div>


<!-- answers -->
<div class="answer-count">
  <h3><%= @answers.count %> Answers</h3>
</div>

<div class="answers">
  <%= erb :"answers/_show"  %>
</div>


<!-- new answer form -->
<div class="new-answer">
  <form action ="/questions/<%= @question.id%>/answers" method="post" id="answer-form">
    <textarea rows="4" cols="50" name="answer" form="answer-form" required></textarea>
    <input type="submit" value="Post Your Answer" class="">
  </form>
</div>



