<h2 class="question-title"><%= @question.title %></h2>

<div class="question-cell">
  <div class="vote-cell">
    <%= question_vote_status(@question) %>
  </div>

  <div class="post-content">
    <%= @question.content %>
  </div>

  <% if @question.comments.count > 0 %>

    <% @question.comments.each do |comment| %>
    <div class="question_comment">
      <div id="comment_content"><%= comment.content %></div>
      <div id="question_comment_author">Author: <%= comment.user.username.capitalize %> </div>
      <div id="question_comment_author">Days ago: <%= ((Time.now - comment.created_at) / 3600).to_i  %> </div>
    </div>
    <% end %>
  <% end %>

  <% if current_user  %>

    <form id="question_comment" method="post" action="<%= @question.id %>/comment/new">

       <textarea rows="1" cols="50" name="comment" placeholder="Comment" required></textarea>

        <input type="submit" value="Post Comment" class="">
    </form>

 <% end %>


</div>

<div class="answer-count">
  <h3><%= @answers.count %> Answers</h3>
</div>


<div class="answers">
  <%= erb :"answers/_show"  %>
</div>


<div class="new-answer">
  <form action ="/questions/<%= @question.id%>/answers" method="post" id="answer-form">
    <textarea rows="4" cols="50" name="answer" form="answer-form" required></textarea>
    <input type="submit" value="Post Your Answer" class="">
  </form>
</div>



