  <% if @answers %>
    <% @answers.each do |answer| %>

    <!-- favorite answer link -->
    <% if current_user == @question.user  %>
      <a class="favorite_button" href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/favorite">Mark as my Favorite</a>
    <% end %>


    <!-- favorite answer -->
    <% if answer.favorite == true %>
      <div class="favorite-cell">
      <p><em>The author of this question has rated this as their top answer:</em></p>
    <% else %>
      <div class="answer-cell">
    <% end %>

    <!-- answer voting buttons -->
    <div class="vote-cell">
    <% if current_user %>
      <%= erb :'answers/_buttons', :locals => { answer: answer } %>
    <% else %>
      <%= erb :'answers/_no_user', :locals => { answer: answer } %>
    <% end %>
    </div>

    <!-- answer content -->
    <div class="post-content">
      <%= answer.content %>
    </div>

    <!-- answer author -->
    <div class="author">
      Posted by: <a href="/users/<%=answer.user_id %>"><%= answer.author %></a>
    </div>

    <!-- answer's comments -->
    <% if answer.comments.count %>
      <% answer.comments.each do |comment| %>
      <!-- answer comment data -->
      <div class="answer_comment">
        <div id="comment_content"><%= comment.content %></div>
        <div id="answer_comment_author">Author: <%= comment.user.username.capitalize %> </div>
        <div id="answer_comment_author">Hours ago: <%= ((Time.now - comment.created_at) / 60/60).to_i  %> </div>
      </div>
      <% end %>
    <% end %>


  <% if current_user %>
    <form id="answer_comment" method="post" action="<%= answer.question_id %>/answer/<%= answer.id %>/comment/new">
      <textarea rows="1" cols="50" name="comment" placeholder="Comment" required></textarea>
      <input type="submit" value="Post" class="comment_submit_button">
    </form>
  <% end %>
    </div>


    <% end %>
  <% end %>
