<h2><%= @question.title %></h2>

<div class="question-cell">
  <div class="vote-cell">
    <a href="/questions/<%= @question.id %>/votes/up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
    <span class="vote-count"><%= @question.votes.count %></span>
    <a href="/questions/<%= @question.id %>/votes/down"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
  </div>

  <div class="post-content">
    <%= @question.content %>
  </div>

</div>




<% if @answers %>
  <% @answers.each do |answer| %>
  <%= answer.content %>
    <!-- <div class="answer-cell">
  <% end %>
    </div> -->
<% end %>




<form action ="/questions/<%= @question.id%>/answers" method="post" id="answer-form">
  <textarea rows="4" cols="50" name="answer" form="answer-form"></textarea>
  <input type="submit" value="Post Your Answer" class="">
</form>
